<div class=" w-full flex justify-center">
  <% if alert.present? %>
    <p class="alert py-2 px-3 bg-rose-50 text-red-700 font-medium rounded-lg inline-block">
      <%= alert %>
    </p>
  <% end %>

</div>